---
layout: page
title: GAME-LAB
tagline: i think, therefore i am.
---
{% include JB/setup %}

{% comment %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>日期</th>
      <!--<th>摘要</th>-->
    </tr>
  </thead>
  <tbody>

  {% for post in site.posts %}
    <tr>
      <td>{{ forloop.index }}</td>
      <td><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> </td>
      <td>{{ post.date | date_to_string }} </td>
      <!--<td width="20%">{{ post.excerpt }}</td>-->
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endcomment %}

{% for post in paginator.posts %}

   <!-- here add you post markup -->
   <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
   <p class="author">
    <span class="date">{{post.date}}</span>
  </p>
  <div class="content">
    {{ post.excerpt }}
  </div>
{% endfor %}


{% comment %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endcomment %}

<div id="post-pagination" class="pagination">
  <ul class="pages">
    <li class="page">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/"><i class="icon-backward"></i></a>
        {% else %}
        <a href="/page{{paginator.previous_page}}"><i class="icon-backward"></i></a>
        {% endif %}
      {% else %}
        <span><i class="icon-backward"></i></span>
      {% endif %}
    </li>

    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}

    <li class="page">
        {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}"><i class="icon-forward"></i></a>
        {% else %}
        <span><i class="icon-forward"></i></span>
        {% endif %}
    </li>
  </ul>
</div>
