.blog-post {
	margin: 0 0 40px;
	padding: 15px;
	border:1px solid #ddd;
	background:#fff;
	/*font-family:微软雅黑,宋体,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font:400 16px / 1.62 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}

.post-meta {
	font-size: 12px;
	color:gray;
	margin: 0 0 10px;
}

.meta-date {
}

.meta-author {
}

.post-meta-tags {
	font-size: 12px;
	color:gray;
}

.content {
	/*font-family:微软雅黑,宋体,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font:400 16px / 1.62 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}

.archive-list ul li {
	list-style-type : none;
}

body { 
	padding-top: 70px;  /* 固定导航栏 */
}

p { 
	margin-bottom: 24px; /* 段间距 */
	line-height: 1.9;    /* 行间距 */
}

#blog-archives article {
    padding-left: 4.5em;
    padding-bottom: .7em;
    margin-left: 5em;
    position: relative;
    color: #AAA;
}

#blog-archives article time {
    font-size: .9em;
    line-height: 1.2em;
    text-transform: uppercase;
    position: absolute;
    text-align: right;
    left: 0em;
    top: 1.2em;
}

#blog-archives article footer {
    font-size: 1.0em;
}


#blog-archives article p {
    margin-top: .5em;
}

#blog-archives h2 {
    margin-bottom: .3em;
    display: inline-block;
    position: relative;
    top: -1px;
    float: left;
    color: #AAA;
}

#blog-archives h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}

#blog-archives h1 a {
    color: #222;
}

#blog-archives h1 a:hover {
    text-decoration: none;
}